<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      layout:decorator="layout/user">

<head>
  <title>rating page</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" th:src="@{/webjars/jquery/1.11.3/jquery.min.js}"></script>
  <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
  <script src="../../js/ratingapp.js" th:src="@{/js/ratingapp.js}"></script>

  <link rel="stylesheet" type="text/css" media="screen" href="../../css/common.css" th:href="@{/css/common.css}" />
  <link rel="stylesheet" type="text/css" media="screen" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" />

  <link rel="stylesheet" type="text/css" media="screen" href="../../resources/font-awesome/css/font-awesome.min.css" th:href="@{/resources/font-awesome/css/font-awesome.min.css}" />
  <link rel="stylesheet" type="text/css" media="screen" href="../../css/ratingapp.css" th:href="@{/css/ratingapp.css}" />
</head>
<body>
<div id="page-wrapper" layout:fragment="content">
  <div class="container-fluid">
    <div class="row">
      <section class="content-header">
        <h2 class="PageTitle">Description</h2>
      </section>


      <div class="row">
        <section class="col-lg-12 connectedSortable">
          <div class="box box-solid">
            <div class="box-header" style="cursor: move;">
              <i class="fa fa-info"></i>
              <h3 class="box-title">Inter-rate application</h3>
              <div class="box-body">
                The main aim of this app is to create a golden dataset of users and bots by analysing their comments by raters.<br><br>
                Please open the <b> Analyze items </b> from the left menu and rate account according to similarity of the comments.<br>
                Notice that comments with a blue bar on the bottom are <b>Pull request</b> comment and comments with a red bar on the bottom are <b>Issue comments.</b>
              </div>
            </div>

          </div>

        </section>
      </div>

      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>
</div>
</body>
</html>