<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/user">
<head>
  <title>rating page</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" th:src="@{/webjars/jquery/1.11.3/jquery.min.js}"></script>
  <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
  <script src="../../js/ratingapp.js" th:src="@{/js/ratingapp.js}"></script>
  <link rel="stylesheet" type="text/css" media="screen" href="../../css/common.css" th:href="@{/css/common.css}" />
  <link rel="stylesheet" type="text/css" media="screen" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" media="screen" href="../../resources/font-awesome/css/font-awesome.min.css" th:href="@{/resources/font-awesome/css/font-awesome.min.css}" />
  <link rel="stylesheet" type="text/css" media="screen" href="../../css/ratingapp.css" th:href="@{/css/ratingapp.css}" />

</head>
<body>
<div id="page-wrapper" layout:fragment="content">
  <div class="container-fluid">
    <div class="row">


          <section class="content-header">
            <h2 class="PageTitle">Rate the account</h2>
          </section>
          <!-- Main content -->
          <!-- Main content -->

          <section class="ratesec" id="ContentSec" style="min-height: 95px;">
            <!-- Small boxes (Stat box) -->
            <div class="row fixedElement" id="usersList">
              <section class="col-lg-12" >
                <div class="box box-solid">
                    <div class="box-body">
                      <div class="row no-margin">
                        <div class="ratings rate">
                          <div class="btns btnsrate">
                            <label>
                              <input name="rate-group" type="radio" value="1">
                              <span class="btn first" style="padding: 0px;">Human</span>

                            </label>
                            <label class="lablemidrate">
                              <input name="rate-group" type="radio" value="2">
                              <span class="btn" style="padding: 0px;">Bot</span>

                            </label>
                            <label>
                              <input name="rate-group" type="radio" value="3">
                              <span class="btn last" style="padding: 0px;">I dont Know</span>

                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="row no-margin">
                        <div class="ratings ratedifficulty">
                          <div class="btns">
                            <label>
                              <input name='diff-group' type='radio' value='1'>
                              <span class='btn rdif first' style="padding: 0px;">Very easy</span>
                              </input>
                            </label>
                            <label class="lablemid">
                              <input name='diff-group' type='radio' value='2'>
                              <span class='btn rdif' style="padding: 0px;">Easy</span>
                              </input>
                            </label>
                            <label class="lablemid">
                              <input name='diff-group' type='radio' value='3'>
                              <span class='btn rdif' style="padding: 0px;">Difficult</span>
                              </input>
                            </label>
                            <label>
                              <input name='diff-group' type='radio' value='4'>
                              <span class='btn rdif last' style="padding: 0px;">Very difficult</span>
                              </input>
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="row no-margin submitsection">
                        <div class="ratings description">

                          <textarea id="comment" class="form-control commentsec"  rows="2" placeholder="Please write your comment" ></textarea>


                        </div>
                        <div class="ratings submit" style="margin-top:10px;">

                          <button id="button" class="submitbutton"></button>


                        </div>
                      </div>


                    </div>


                </div>
              </section>

            </div>
          </section>


        <div class="row row-content" id="list">
        </div>
        <div class="row loadmoresec" id="loadmoresec">
        </div>

      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>
  <script>

    $(document).ready(function () {

      var data;
      var Alldata;

      var ratingdiff = $('.ratedifficulty');
      var submitsection = $('.submitsection');
      var tableDiv = $('.row-content');

      //rate value
      var ratevalue = "0";

      //rate difficulty
      var ratediff = "0";

      //rate difficulty
      var ratedesc = "";

      $("input[name='rate-group']").click(function(){
        ratevalue = $("input[name='rate-group']:checked").val();
        $("input[name='diff-group']").prop("checked", false);
        $('.commentsec').val("");

        ratingdiff.slideDown(10);
        if($("input[value='3']:checked").val())
        {
          submitsection.slideDown(50);
        }else{
          submitsection.slideUp(50);
        }
      });
      $("input[name='diff-group']").click(function(){
        ratediff = $("input[name='diff-group']:checked").val();
        submitsection.slideDown(50);
      });


      function submitaction() {
        $('.submitbutton').unbind('click');
        ratedesc = $('.commentsec').val();
        $(".submitbutton").addClass( "onclic");
        $.ajax({
          cache: false,
          type: "POST",
          async: false,
          url: "../user/submitrate",
          data: {
            gitUserId: Alldata['gitUserId'],
            rate: ratevalue,
            rateDifficulty: ratediff,
            rateDescription: ratedesc
          },
          success:function(data){
            debugger;
            if(data.toString().indexOf("/sign-in-process.html")>=0)
            {
              window.location.href = '../signin';
            }else if (data.toString() == "OK")
            {
              $( ".submitbutton" ).removeClass( "onclic" );
              $( ".submitbutton" ).addClass( "validate");
              setTimeout(
                      loadNewUser,500
              )
            }else if (data.toString() == "NOK")
            {
              $( ".submitbutton" ).removeClass( "onclic" );
              $( ".submitbutton" ).addClass( "errorresult",);
              $( ".submitbutton" ).html(data.splitText('NOK,')[1])
            }
          },
          error: function(data){
            $( ".submitbutton" ).removeClass( "onclic" );
            $( ".submitbutton" ).addClass( "errorresult",);

          }
        });
      }

      var data;
      var Alldata;
      function loadNewUser() {
        ratediff = 0;
        ratedesc= "";
        ratevalue =0;
        $('.submitbutton').click(submitaction);
        $( ".submitbutton" ).removeClass( "onclic" );
        $( ".submitbutton" ).removeClass( "validate" );
        $( ".submitbutton" ).removeClass( "errorresult" );
        $('.loadmoresec').empty();
        submitsection.hide();
        ratingdiff.hide();
        $("input[name='rate-group']").prop("checked", false);
        $("input[name='diff-group']").prop("checked", false);
        $('.commentsec').val("");
        $.ajax({
          cache: false,
          type: "POST",
          async: false,
          url: "../user/givemeNextGituser",
          success: function (res) {
            data = res;
            Alldata = data;
            if(data.toString().indexOf("/sign-in-process.html")>=0)
            {
              window.location.href = '../signin';
            }
            createTable();
          },
          Error: function (e) {
            alert(e);
          }
        });
      }
      loadNewUser();




      function createTable() {
        tableDiv.empty();

        debugger;
        data = data["comments"];
        if(data.length < 20) {
          for (var i = 0; i < data.length; i++) {
            createItem(i, data[i].id,data[i]["body"],data[i]["issueType"],tableDiv)
          }
        }else{
          for (var i = 0; i < 20 ; i++) {
            createItem(i, data[i].id,escape(data[i]["body"]),data[i]["issueType"],tableDiv)
          }
          var foot = $('.loadmoresec');
          var tbl = $('<div />').addClass('col-lg-12').addClass('col-xs-12').addClass('col-xl-12').addClass('connectedLoadMore').appendTo(foot);
          var prbbox = $('<div />').addClass('entity-prop-box').addClass('bg-white').appendTo(tbl);
          var inner = $('<div />').addClass('loadmore').html('<a href="#" class="entity-prop-box-footer load-more" style="margin-left: 7px"> Load More <i class="fa fa-plus"></i></a>');


          prbbox.append(inner);

          $('.entity-prop-box-footer.load-more').click(function (e) {
            e.preventDefault();

            for (var i = 20; i < data.length ; i++) {
              createItem(i, data[i].id,escape(data[i]["body"]),data[i]["issueType"],tableDiv)
            }

            $('.connectedLoadMore').fadeOut(500);
          });


        }
      }

      function createItem(i, index , text, itemtype , table_div){

        var tbl = $('<div />').attr("listId", i).attr("id", index).addClass('col-lg-4').addClass('col-sm-6').addClass('col-xs-12').addClass('col-xl-3').addClass('connectedSortable').appendTo(table_div);

        var prbbox = $('<div />').addClass('entity-prop-box').addClass('bg-white').appendTo(tbl);
        var inner = $('<div />').addClass('inner').appendTo(prbbox);
        if(itemtype == "1") {
          ($('<div />').addClass('entity-prop-box-footer-box')).appendTo(prbbox);
        }else{
          ($('<div />').addClass('entity-prop-box-footer-box-issue')).appendTo(prbbox);
        }
        inner.append($('<p />').html($.parseHTML( unescape(text) )));
        tbl.hide().delay(i * (20 - (i < 20 ? i : 19))).fadeIn(500).appendTo(tbl);
      }


    });
    $(window).scroll(function(e){
      var $el = $('.fixedElement');
      var isPositionFixed = ($el.css('position') == 'fixed');
      if ($(this).scrollTop() > 200 && !isPositionFixed){
        $el.css({'position': 'fixed', 'top': '0px','left':'0px','width':'103%'});
      }
      if ($(this).scrollTop() < 200 && isPositionFixed){
        $el.css({'position': 'static', 'top': '0px','width':''});
      }
    });

  </script>
</div>
</body>
</html>