<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/user">
<head>
  <title>rating page</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" th:src="@{/webjars/jquery/1.11.3/jquery.min.js}"></script>
  <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
  <script src="../../js/ratingapp.js" th:src="@{/js/ratingapp.js}"></script>
  <script src="../../resources/metisMenu/dist/metisMenu.min.js" th:src="@{/resources/metisMenu/dist/metisMenu.min.js}"></script>
  <link rel="stylesheet" type="text/css" media="screen" href="../../css/common.css" th:href="@{/css/common.css}" />
  <link rel="stylesheet" type="text/css" media="screen" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" media="screen" href="../../resources/metisMenu/dist/metisMenu.css" th:href="@{/resources/metisMenu/dist/metisMenu.min.css}" />
  <link rel="stylesheet" type="text/css" media="screen" href="../../resources/font-awesome/css/font-awesome.min.css" th:href="@{/resources/font-awesome/css/font-awesome.min.css}" />
  <link rel="stylesheet" type="text/css" media="screen" href="../../css/ratingapp.css" th:href="@{/css/ratingapp.css}" />

</head>
<body>
<div id="page-wrapper" layout:fragment="content">
  <div class="container-fluid">
    <div class="row">


          <section class="content-header">
            <h2 class="PageTitle">Add Responder</h2>
          </section>
          <!-- Main content -->
          <!-- Main content -->
          <section class="ratesec fixedElement" id="ContentSec">
            <!-- Small boxes (Stat box) -->
            <div class="row " id="usersList">
              <section class="col-lg-12">
                <div class="box box-solid">
                    <div class="box-body">
                      <div class="row no-margin">
                        <div class="ratings rate">
                          <div class="btns btnsrate">
                            <label>
                              <input name="rate-group" type="radio" value="item">
                              <span class="btn first">Human</span>

                            </label>
                            <label class="lablemidrate">
                              <input name="rate-group" type="radio" value="other-item">
                              <span class="btn">Bot</span>

                            </label>
                            <label>
                              <input name="rate-group" type="radio" value="third">
                              <span class="btn last">I dont Know</span>

                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="row no-margin">
                        <div class="ratings ratedifficulty">
                          <div class="btns">
                            <label>
                              <input name='diff-group' type='radio' value='item'>
                              <span class='btn first'>Very easy</span>
                              </input>
                            </label>
                            <label class="lablemid">
                              <input name='diff-group' type='radio' value='other-item'>
                              <span class='btn'>Easy</span>
                              </input>
                            </label>
                            <label class="lablemid">
                              <input name='diff-group' type='radio' value='third'>
                              <span class='btn'>Difficult</span>
                              </input>
                            </label>
                            <label>
                              <input name='diff-group' type='radio' value='third'>
                              <span class='btn last'>Very difficult</span>
                              </input>
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="row no-margin">
                        <div class="ratings description">

                          <textarea id="comment" class="form-control commentsec"  rows="2" placeholder="comment" ></textarea>


                        </div>
                      </div>

                      <div class="row no-margin">
                        <div class="ratings submit">

                          <button id="button" class="submitbutton"></button>


                        </div>
                      </div>


                    </div>


                </div>
              </section>

            </div>
          </section>



        <div class="row row-content" id="list">
        </div>
        <div class="row loadmoresec" id="loadmoresec">
        </div>

      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>
  <script>

    $(document).ready(function () {



      var svmarr = new Array('', 'DB', 'CRL', 'Proxy');
      var data;
      var Alldata;

      perm = true;


      $.ajax({
        cache: false,
        type: "POST",
        async: false,
        url: "/user/givemeNextGituser",
        success: function (res) {
          debugger;
          data = res;
          Alldata = data;
          if(data == null || data.length == 0 ) {
            var tableDiv = $('.row-content');
            var hints = $('<div />').addClass('no-data-page').css('text-align','center').css('margin-top','100px').css('display','none').appendTo(tableDiv).fadeIn(1000);;
            $('<div />').addClass('empty-list-title').html('No CA added yet').appendTo(hints);
            $('<div />').addClass('empty-list-hint').html('please follow the instruction to add a new CA.').appendTo(hints);

            var bottomHint = $('<div />').addClass('tip-container').appendTo(tableDiv).css('opacity','0').animate({ transformOrigin: 'bottom right' },0).animate({transform: 'translateY(40px) rotate(-45deg) scale(.1 ,.1) skewX(20deg) skewY(10deg)', opacity:0},1).animate({transform: 'translateY(0px) rotate(0deg) scale(1,1) skewX(0deg) skewY(0deg)' , opacity: 1},800,'easeOutBack');
            var bottomTopBar = $('<div />').addClass('box-tools').addClass('pull-right').css('margin-right','4px').appendTo(bottomHint);
            $('<button />').attr('type','button').addClass('btn').addClass('btn-box-tool').attr('data-widget','removed').html('<i class="fa fa-times"></i>').appendTo(bottomTopBar);
            $('<h2 />').html('User hint').appendTo(bottomHint);
            $('<div />').addClass('inside').html('With this plus button you can add a new CA.<br> If you cant see the button this means you don\'t have enough permission to do that.<br> please contact the administrator.').appendTo(bottomHint);
            $('.btn-box-tool').click(function () {
              $('.tip-container').fadeOut(500);
            });
            $('.SortTable').fadeOut(500);
            $('.SortList').fadeOut(500);
          }else{

            createTable();

          }
        },
        Error: function (e) {
          alert(e);
        }
      });

      var ratingdiff = $('.ratedifficulty');
      ratingdiff.hide();
      var ratingddes = $('.description');
      ratingddes.hide();
      var ratingsubmit = $('.submit');
      ratingsubmit.hide();

      rate

      function createTable() {
        var tableDiv = $('.row-content');

        debugger;
        data = data["comments"];
        if(data.length < 20) {
          for (var i = 0; i < data.length; i++) {
            createItem(i, data[i].id,data[i]["body"],tableDiv)
          }
        }else{
          for (var i = 0; i < 20 ; i++) {
            createItem(i, data[i].id,data[i]["body"],tableDiv)
          }
          var foot = $('.loadmoresec');
          var tbl = $('<div />').addClass('col-lg-12').addClass('col-xs-12').addClass('col-xl-12').addClass('connectedLoadMore').appendTo(foot);
          var prbbox = $('<div />').addClass('entity-prop-box').addClass('bg-white').appendTo(tbl);
          var inner = $('<div />').addClass('loadmore').html('<a href="#" class="entity-prop-box-footer load-more" style="margin-left: 7px"> Load More <i class="fa fa-plus"></i></a>');
          prbbox.append(inner);

          $('.entity-prop-box-footer.load-more').click(function (e) {
            e.preventDefault();

            for (var i = 20; i < data.length ; i++) {
              createItem(i, data[i].id,data[i]["body"],tableDiv)
            }

            $('.connectedLoadMore').fadeOut(500);
          });


        }
      }

      function createItem(i, index , text , table_div){

        var tbl = $('<div />').attr("listId", i).attr("id", index).addClass('col-lg-4').addClass('col-sm-6').addClass('col-xs-12').addClass('col-xl-3').addClass('connectedSortable').appendTo(table_div);

        var prbbox = $('<div />').addClass('entity-prop-box').addClass('bg-white').appendTo(tbl);
        var inner = $('<div />').addClass('inner').appendTo(prbbox);
        // var footer = ($('<div />')
        //         .addClass('entity-prop-box-footer-box')
        //         .html((perm?'<a href="'+path+'/authorities/editAuthorityGroup/'+data[i].group.id+'" class="entity-prop-box-footer btn-cagroup pull-left" style="color:#a76c00">' + data[i]['group']['name']+'</a>':
        //                 '<div class="entity-prop-box-footer btn-cagroup pull-left" style="color:#a76c00">'+data[i]['group']['name']+'</div>')+'<a href="#" class="entity-prop-box-footer delete-btn">Delete  <i class="fa fa-trash-o"></i></a><a href= "#" class="entity-prop-box-footer edit-btn"> Edit <i class="fa fa-pencil-square-o" ></i></a><a href= "#" class="entity-prop-box-footer detail-btn"> Detail <i class="fa fa-info-circle" ></i></a><a href= "#" class="entity-prop-box-footer revoke-btn"> Revoke <i class="fa fa-close" ></i></a>')).appendTo(prbbox);
        // if(data[i].responder == null)
        // {
        //   footer.css('background',"#ffebcd");
        // }
        // if(data[i].active !== true)
        // {
        //   footer.css('background','#dedce8');
        // }
        // if(data[i].status == 1)
        // {
        //   footer.css('background','#ffdede');
        //   footer.find($('.revoke-btn')).remove();
        //   footer.find($('.edit-btn')).remove();
        // }
        inner.append($('<p />').html(text));
        tbl.hide().delay(i * (20 - (i < 20 ? i : 19))).fadeIn(500).appendTo(tbl);
      }


    });
    $(window).scroll(function(e){
      var $el = $('.fixedElement');
      var isPositionFixed = ($el.css('position') == 'fixed');
      if ($(this).scrollTop() > 200 && !isPositionFixed){
        $el.css({'position': 'fixed', 'top': '0px','left':'0px'});
      }
      if ($(this).scrollTop() < 200 && isPositionFixed){
        $el.css({'position': 'static', 'top': '0px'});
      }
    });

  </script>
</div>
</body>
</html>