<div class="sidebar" role="navigation" layout:fragment="sidebar" xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:layout="http://www.w3.org/1999/xhtml">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">

        <li>
            <a href="../admin/analyzed" th:href="@{/admin/analyzed}"><i class="fa fa-list-alt fa-fw"></i> Analyzed Items </a>
        </li>
        <li>
            <a href="../admin/edititems" th:href="@{/admin/edititems}"><i class="fa fa-edit fa-fw"></i> Edit items </a>
        </li>
        <li>
            <a href="../admin/results" th:href="@{/admin/results}"><i class="fa fa-bar-chart-o fa-fw"></i> Results </a>
        </li>

        <li></li>
        <li>
            <p class="statistic"></p>
        </li>
    </ul>
  </div>
  <!-- /.sidebar-collapse -->
</div>