<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/user">

<head>
  <title>rating page</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" th:src="@{/webjars/jquery/1.11.3/jquery.min.js}"></script>
  <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
  <script src="../../js/ratingapp.js" th:src="@{/js/ratingapp.js}"></script>
  <script src="../../js/jsgrid.min.js" th:src="@{/js/jsgrid.min.js}"></script>
  <link rel="stylesheet" type="text/css" media="screen" href="../../css/common.css" th:href="@{/css/common.css}" />
  <link rel="stylesheet" type="text/css" media="screen" href="../../css/jsgrid-theme.min.css" th:href="@{/css/jsgrid-theme.min.css}" />
  <link rel="stylesheet" type="text/css" media="screen" href="../../css/jsgrid-theme.min.css" th:href="@{/css/jsgrid.min.css}" />
  <link rel="stylesheet" type="text/css" media="screen" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" />

  <link rel="stylesheet" type="text/css" media="screen" href="../../resources/font-awesome/css/font-awesome.min.css" th:href="@{/resources/font-awesome/css/font-awesome.min.css}" />
  <link rel="stylesheet" type="text/css" media="screen" href="../../css/ratingapp.css" th:href="@{/css/ratingapp.css}" />
</head>
<body>
<div id="page-wrapper" layout:fragment="content">
  <div class="container-fluid">
    <div class="row">
      <section class="content-header">
        <h2 class="PageTitle">Rated accounts</h2>
      </section>
      <!-- Main content -->
      <!-- Main content -->
      <section class="ratesec fixedElement" id="ContentSec">
        <div class="col-xs-12">
          <div class="box box-solid" >
            <div class="box-header">
              <h3 class="box-title">Your rated Items</h3>
              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" id="table-search" name="table_search" class="form-control pull-right" placeholder="Search">
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div></div></div></div>

            <div class="box-body no-padding" style="min-height: 800px;">
              <div id="jsGrid1"></div>
            </div>
          </div>
        </div>
      </section>

      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>
  <script>
    $(document).ready(function () {


      $.ajax({
        cache: false,
        type: "POST",
        async: false,
        url: "../admin/getAllRates",
        success: function (res) {
          if(res.toString().indexOf("/sign-in-process.html")>=0)
          {
            window.location.href = '../signin';
          }

          createTable(res);
        },
        Error: function (e) {
          alert(e);
        }
      });

    });
    function createTable(rate_data) {
      const rate_values = [{id: 1, name: "Human"}, {id: 2, name: "Bot"}, {id: 3, name: "IDK"}];
      const rate_diff = [{id: 1, name: "Very easy"}, {id: 2, name: "Easy"}, {id: 3, name: "Difficult"}, {id: 4, name: "Very Difficult"}];
      debugger;
      $("#jsGrid1").jsGrid({
        height: "800px",
        width: "100%",

        sorting: true,
        paging: true,

        data: rate_data,

        fields: [
          { name: "gitUserName", type: "text", width: 150,title: "Account" },
          { name: "gitUserRepo", type: "text", width: 250,title: "Repository" },
          { name: "rate", type: "select", width: 50,title: "Rate", items: rate_values, valueField: "id", textField: "name",class: "rate" },
          { name: "rateDiffuculty", type: "select", width: 50, title: "Difficulty", items: rate_diff, valueField: "id", textField: "name",class: "rateDiffuculty" },
          { name: "ratedAt", type: "datetime", width: 100, title: "Rated At" }
        ]
      });
    }


  </script>
</div>
</body>
</html>